a {
	color:#45A29E;
}

a:link {
  color:#45A29E;
}

a:visited {
  color:#30716e;
}

a:hover {
  color:#22514f;
}

a:active {
  color:#22514f;
}


code {
	color: #737373;
}


a.external:after {
    display: inline-block;
    height: .75rem;
    width: .75rem;
    margin-bottom: .15em;
    margin-left: .25em;
    content: "";
    vertical-align: -0.125em;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(51, 153, 153)" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/><path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/></svg>');
    background-repeat: no-repeat;
    background-size: .75rem .75rem;
}

.sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
    border-left: 1px solid #45A29E;
    color: #45A29E !important;
    }

.sidebar nav[role=doc-toc] ul>li>a.active {
    border-left: 1px solid #45A29E;
    color: #45A29E !important;
  }





